@font-face {
    font-family: "Bubblegum";
    src: url(/Assets/Fonts/BubblegumSans-Regular.ttf);
}


body{
    font-family: "Bubblegum", Arial, Helvetica, sans-serif;
    background-image: url("/Assets/pokeBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input{
    border: 2px solid red;
    border-radius: .75rem;
    background-color: transparent;
    backdrop-filter: blur(2px);
    padding: .25rem;
    height: fit-content;
    font-size: 22px;
    width: 200px;
}

button{
    border: 2px solid black;
    border-radius: .75rem; 
    padding: .25rem .75rem;
    background-color: transparent;
    backdrop-filter: blur(2px);
    height: fit-content;
    font-size: 22px;
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: black;
}

#favBtn{
    width: 36px;
    height: 36px;
}

#shinyBtn{
    width: 70px;
    height: 70px;
    margin-top: 1rem;
}

#shinyBtn:hover{
    cursor: pointer;
}

#TitleText{
    font-size: 72px;
}

h1{
    font-size: 45px;
    width: fit-content;
    height: fit-content;
}

hr{
    border: dashed black 4px;
    height: 10px;
    
}

h2{
    font-size: 28px;
    width: fit-content;
    height: fit-content;
}

h3{
    font-size: 22px;
    width: fit-content;
    height: fit-content;
}

.card{
    border: 5px solid black;
    border-radius: .75rem;
    padding: .75rem;
}

#warningText{
    color: red;
}

#pokeImg{
    min-width: 250px;
    transform: scale(1.2);
}

#remove{
    margin-left: .5rem;
    display: flex;
    align-items: center;
}

#favIcon{
    transform: scale(1.3);
    overflow: hidden;
}

#favIcon:hover{
    cursor: pointer;
}

.favDiv{
    overflow: hidden;
}

#remove:hover{
    color: red;
    cursor: pointer;
    border: none;
}

.evolName{
    width: 100%;
    text-align: center;
}

.evolName:hover{
    cursor: pointer;
    color: grey;
}

#favItem:hover{
    cursor: pointer;
    color: gray;
    display: flex;
}

.evolImgs{
    width: 150px;
}

footer h2{
    font-size: 24px;
}

.scrollBlock{
    max-height: 200px;
    overflow: scroll;
    scrollbar-color: black gray;
    scrollbar-width: auto;
}
.scrollBlockBIG{
    max-height: 400px;
    overflow: scroll;
    scrollbar-color: black gray;
    scrollbar-width: auto;
}

.evolBlock{
    max-height: fit-content;
    max-width: 500px;
    overflow: scroll;
    gap: 2rem;
}

ul {
    list-style-type: disc;
}    

li{
    font-size: 22px;
}

#evolList{
    display: flex;
}

footer{
    margin: 2rem 0rem;
}

@media screen and (max-width: 1283px) {
    #pokeImg{
        min-width: 200px;
    }

    .scrollBlock{
        max-height: 150px;
    }
    .scrollBlockBIG{
        max-height: 200px;
    }

    .container{
        max-width: 65rem;
    }
}



@media screen and (max-width: 1024px) {
    .container{
        max-width: 55rem;
    }
    .scrollBlockBIG{
        max-height: 100px !important;
    }

    .evolBlock{
        max-width: 400px;
    }

    .scrollBlock
    {
        max-height: 150px;
    }

    #favItem{
        display: none;
    }

    #favIcon{
        transform: scale(1.3);
    }

    #pokeImg{
        min-width: fit-content;
        transform: scale(1.6);
    }

    .card{
        padding: .5rem;
    }

    h1{
        font-size: 36px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 18px;
    }

    li{
        font-size: 18px;
    }

    #shinyBtn{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 640px) {

    #favItem{
        display: block;
    }

    h1{
        font-size: 56px;
    }

    h2{
        font-size: 36px;
    }

    h3{
        font-size: 28px;
    }

    .scrollBlock{
        max-height: 300px;
    }

    #TitleText{
        font-size: 48px;
    }

    .evolBlock{
        max-height: fit-content;
        max-width: 530px;
    }

    .scrollBlockBIG{
        max-height: 100% !important;
    }

    #favBtn{
        width: 50px;
        height: 50px;
    }

    .mx-auto{
        padding: 0rem 2rem;
    }

    .card{
        border: none;
        overflow: visible;
        width: 100%;
        padding: 0px;
        padding-bottom: 1rem;
    }

    #pokeImg
    {
        transform: scale(1.4);
    }

    li{
        font-size: 24px;
    }

    #warningText{
        font-size: 16px;
    }
}

@media screen and (max-width: 540px) {
    /* .mobileSearch{
        flex-direction: column;
        align-items: start;
    }
    
    #pokeImg{
        margin-bottom:6rem;
        padding-right: 2rem;
        transform: scale(3);
    }

    #shinyBtn{
        width: 70px;
        height: 70px;
    } */
    .mobileSearch{
        display: block;
    }

    .subtitle{
        font-size: 18px;
    }

    button{
        width: 100px;
        font-size: 18px;
    }
}